In [60]:
import pandas as pd
import os
import numpy as np

In [39]:
os.chdir("C:/Users/rowan/PycharmProjects/PopHealthRisk")

In [43]:
df = pd.read_excel('data/thresh24.xlsx', skiprows=5)

In [44]:
df=df.rename(columns={"Unnamed: 0": "household","Unnamed: 1": "weighted_average"})

In [48]:
df=df[~df.household.str.contains('65', na=False)]

In [49]:
df

,household,weighted_average,None,One,Two,Three,Four,Five,Six,Seven,Eight or more
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,One person (unrelated individual):,15940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Two people:,20220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Three people,24950.0,24537.0,25249.0,25273.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Four people,32130.0,32355.0,32884.0,31812.0,31922.0,NaN,NaN,NaN,NaN,NaN
11,Five people,38110.0,39019.0,39586.0,38374.0,37436.0,36863.0,NaN,NaN,NaN,NaN
12,Six people,43130.0,44879.0,45057.0,44128.0,43238.0,41915.0,41131.0,NaN,NaN,NaN
13,Seven people,48970.0,51638.0,51961.0,50849.0,50075.0,48631.0,46948.0,45100.0,NaN,NaN
14,Eight people,54740.0,57753.0,58263.0,57215.0,56296.0,54992.0,53337.0,51614.0,51177.0,NaN
15,Nine people or more,64900.0,69473.0,69810.0,68882.0,68102.0,66822.0,65062.0,63469.0,63075.0,60645.0
16,"Source: U.S. Census Bureau, 2025.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Note: The source of the weighted average thres...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df_melt=pd.melt(df, id_vars=['household'],var_name='children', value_name='number')
df_melt=df_melt[~df_melt.number.isna()]

In [65]:
df_melt['threshold'] = np.floor(df_melt.number / 5000.0) * 5000.0

In [67]:
df_melt_12=df_melt[df_melt.household.isin(['One person (unrelated individual):','Two people:'])]

In [81]:
df_melt_12['household']=[1,2]
df_melt_12=pd.concat([df_melt_12,df_melt_12.loc[[3]]],ignore_index=True)
df_melt_12['children']=[0,0,1]

C:\Users\rowan\AppData\Local\Temp\ipykernel_21116\4210089226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_melt_12['household']=[1,2]

In [94]:
df_melt_rest=df_melt[~df_melt.household.isin(['One person (unrelated individual):','Two people:'])]
df_melt_rest=df_melt_rest[df_melt_rest.children !="weighted_average"]

In [95]:
household_conv={'Three people':3,'Four people':4,'Five people':5,'Six people':6,'Seven people':7,'Eight people':8,'Nine people or more':9}
child_conv={' None':0,'One':1,'Two':2,'Three':3,'Four':4,'Five':5,'Six':6,'Seven':7,'Eight or more':8}
df_melt_rest['household']=[household_conv[i] for i in df_melt_rest['household']]
df_melt_rest['children']=[child_conv[i] for i in df_melt_rest['children']]

In [102]:
df_melt2=pd.concat([df_melt_12,df_melt_rest],ignore_index=True)
df_melt2=df_melt2.drop('number', axis=1)

In [105]:
df_melt2.to_csv('data/thresh24.csv', index=False)